<div class="aa--mt-5 aa--grid aa--grid-cols-12 aa--gap-4">
  <aside
    class="aa--col-span-12 aa--rounded-lg aa--bg-background-light aa--p-4 aa--shadow-md dark:aa--bg-background-dark lg:aa--col-span-3"
  >
    <h3
      class="aa--text-lg aa--font-semibold aa--text-primary dark:aa--text-primary-light"
    >
      Filters
    </h3>
    <div class="aa--mt-4">
      <p
        class="aa--text-sm aa--font-semibold aa--text-secondary-dark dark:aa--text-secondary-light"
      >
        Last modified:
      </p>
      <div class="aa--mt-2">
        <ul class="aa--space-y-2">
          <li *ngFor="let range of timeRanges">
            <label
              class="aa--flex aa--cursor-pointer aa--items-center aa--rounded aa--p-2 hover:aa--bg-gray-100 dark:hover:aa--bg-gray-600"
            >
              <input
                type="radio"
                name="timeRange"
                [value]="range.value"
                [disabled]="loading()"
                [(ngModel)]="selectedTimeRange"
                (change)="onTimeRangeChange(range.value)"
                class="aa--h-4 aa--w-4 aa--border-gray-300 aa--bg-gray-100 aa--text-blue-600 focus:aa--ring-blue-500 dark:aa--border-gray-500 dark:aa--bg-gray-600 dark:aa--ring-offset-gray-700 dark:focus:aa--ring-blue-600 dark:focus:aa--ring-offset-gray-700"
              />
              <span
                class="aa--ml-2 aa--text-sm aa--font-medium aa--text-gray-900 dark:aa--text-gray-300"
              >
                {{ range.label }}
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <div class="aa--col-span-12 lg:aa--col-span-9">
    <div
      class="aa--mb-4 aa--flex aa--flex-wrap aa--items-center aa--justify-between aa--rounded-lg aa--bg-background-light aa--p-4 aa--shadow-md dark:aa--bg-background-dark"
    >
      <div class="aa--mb-2 aa--w-full lg:aa--mb-0 lg:aa--w-2/3">
        <input
          type="text"
          placeholder="Search jobs..."
          [(ngModel)]="searchTerm"
          (input)="onSearchInput(searchTerm)"
          class="aa--w-full aa--rounded-md aa--border aa--border-secondary-light aa--p-2 dark:aa--border-secondary-dark dark:aa--bg-background-dark dark:aa--text-text-dark"
        />
      </div>
      <div
        class="aa--flex aa--w-full aa--justify-center lg:aa--ml-4 lg:aa--w-auto lg:aa--justify-end"
      >
        <button
          (click)="onRefresh()"
          [disabled]="loading()"
          class="aa--w-full aa--rounded-md aa--bg-primary aa--px-4 aa--py-2 aa--text-white aa--shadow-sm hover:aa--shadow-md focus:aa--outline-none focus:aa--ring-2 focus:aa--ring-primary-light lg:aa--w-auto"
        >
          Refresh
        </button>
      </div>
    </div>

    <div>
      <div class="loading" *ngIf="loading()">
        <div
          class="aa--grid aa--grid-cols-1 aa--gap-4 sm:aa--grid-cols-2 lg:aa--grid-cols-3"
        >
          <aa-job-listing-card-skeleton *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8, 9]" />
        </div>
      </div>

      <div class="error" *ngIf="error()">
        Failed to fetch jobs. Please try again later.
      </div>

      <div *ngIf="!loading() && !error()">
        <div *ngIf="(displayJobs$ | async)?.length === 0; else jobList">
          <div
            class="aa--flex aa--h-full aa--flex-col aa--items-center aa--justify-center aa--p-4"
          >
            <p
              class="aa--mt-4 aa--text-lg aa--font-semibold aa--text-secondary-dark dark:aa--text-secondary-light"
            >
              No results found
            </p>
          </div>
        </div>
        <ng-template #jobList>
          <div
            class="aa--grid aa--grid-cols-1 aa--gap-4 sm:aa--grid-cols-2 lg:aa--grid-cols-3"
          >
            <aa-job-listing-card *ngFor="let job of displayJobs$ | async" [job]="job" />
          </div>

          <div
            *ngIf="!searchTerm"
            class="aa--relative aa--mb-6 aa--mt-6 aa--flex aa--items-center aa--justify-center"
          >
            <button
              (click)="fetchPreviousPage()"
              [disabled]="paginationState().currentPageIndex === 0"
              class="disabled:cursor-not-allowed aa--mr-2 aa--mt-4 aa--rounded-md aa--bg-primary aa--bg-gradient-to-r aa--px-4 aa--py-2 aa--text-sm aa--font-medium aa--text-white aa--shadow-sm aa--transition-transform hover:aa--scale-105 hover:aa--shadow-md focus:aa--outline-none focus:aa--ring-2 focus:aa--ring-primary-light disabled:aa--opacity-50"
            >
              Previous
            </button>

            <span
              class="aa--mx-4 aa--mt-4 aa--text-sm aa--text-secondary-dark dark:aa--text-secondary-light"
            >
              Page {{ paginationState().currentPageIndex + 1 }} of {{ displayTotalPages }}
            </span>

            <button
              (click)="fetchNextPage()"
              [disabled]="!hasNextPage"
              class="aa--ml-2 aa--mt-4 aa--rounded-md aa--bg-primary aa--bg-gradient-to-r aa--px-4 aa--py-2 aa--text-sm aa--font-medium aa--text-white aa--shadow-sm aa--transition-transform hover:aa--scale-105 hover:aa--shadow-md focus:aa--outline-none focus:aa--ring-2 focus:aa--ring-primary-light disabled:aa--cursor-not-allowed disabled:aa--opacity-50"
            >
              Next
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
